{% set arnd = page.section.activeRoundForDate() %}
{% if arnd is not null %}
  {% if arnd.active %}
    <div class="activeround">
      <h3>{% trans with { '%round%': '<a href="' ~ (arnd.page|ecvurl) ~'">' ~ arnd.page.title ~ '</a>' } %}rounds.status.active{% endtrans %}</h3>
  {% if app.user %}
    {% if app.user and app.user.isRegisteredForTerm(term) and app.user.getRegistrationForTerm(term).hasSection( child.round.section ) %}
      {% if arnd.registrationActive(app.user.getRegistrationForTerm(term)) %}
        {% trans with { '%untildate%': (arnd.stop|date('Y. m. d. H:i')) } %}rounds.longer.eligbe{% endtrans %}
        {% render roundcontroller(arnd).getDescriptionAction() with { 'round': arnd.page } %}
        <p class="linkbar">
        {% for name, link in roundcontroller(arnd).getRoundLinks(arnd) %}
          {% if not (rcnf1 is defined) %}{% set rcnf1 = true %}{% else %} | {% endif %} <a href="{{ link }}">{{ name }}</a>
        {% endfor %}
        </p>
      {% else %}
        {% trans %}rounds.longer.noteligbe{% endtrans %}
      {% endif %}
    {% else %}
      {% if app.user.mayJoin(arnd.page.parent.section) %}
      {% trans with { '%url%': url('competition_subscriptions', { term: term.getName() }) } %}rounds.longer.mayjoin{% endtrans %}
      {% else %}
      {% trans %}rounds.longer.notjoin{% endtrans %}
      {% endif %}
    {% endif %}
  {% else %}
    {% trans %}rounds.longer.login{% endtrans %}
  {% endif %}
  </div>
  {% else %}
    <div class="nextround">
      {% trans with { '%url%': (arnd.page|ecvurl), '%title%': arnd.page.title } %}rounds.status.notyet{% endtrans %}
    </div>
  {% endif %}
{% else %}
    <div class="sectionover">
      {% trans %}rounds.status.over{% endtrans %}
    </div>
{% endif %}
