{% extends 'EotvosVersenyrBundle::base.html.twig' %}
{% set active_menu = 'sections' %}

{% block title %}
{% trans %}sections.title{% endtrans %}
{% endblock %}

{% block body %}
{% for display in sections %}
<a href="{{ display.page | ecvurl  }}" id="section_{{ display.page.slug }}" class="sectionbox">{{ display.page.title }}</a>
{% endfor %}
{% endblock %}
