{% extends 'EotvosVersenyrBundle::base.html.twig'  %}
{% set threecol = true %}
{% set fbbox = false %}
{% block body %}
{% if error %}
    <div>{{ error.message|trans }}</div>
{% endif %}
{% endblock %}
