{% extends 'EotvosVersenyrBundle::base.html.twig'  %}
{% set threecol = false %}
{% set fbbox = false %}

{% block body %}
<h2>Felhasználói profil</h2>

<div class="profil">
<ul>
  <li><span class="key">E-mail: </span><span class="value">{{ app.user.email }}</span></li>
  <li><span class="key">Azonosító: </span><span class="value">{{ app.user.uniqueIdentifier }}</span></li>
</ul>
</div>
<p>
 Amennyiben valamelyik adatod megváltozott, vagy véletlenül elírtad, kérjük írj a <a href="mailto:verseny@eotvos.elte.hu">verseny@eotvos.elte.hu</a> e-mail címre egy e-mailt.
</p>
{% endblock %}
