{% extends 'EotvosVersenyrBundle::base.html.twig'  %}
{% set active_menu = page.slug %}
{% set threecol = true %}
{% set fbbox = page.fbbox %}

{% block title %}
  {{ page.title }}
{% endblock %}

{% block body %}
{{ page.body | markdown }}
{% endblock %}

{% block rbody %}
{% if page.children|length > 1 %}
<div class="submenu">
<h3>Aloldalak</h3>
<ul>
{% for item in page.children %}
<li>» <a href="{{ item | ecvurl }}">{{ item.title }}</a></li>
{% endfor %}
</ul>
<br />
<br />
</div>
{% endif %}
{% endblock %}
