{% extends 'CancellarAdminBundle::layout.html.twig' %}

{% form_theme form 'CancellarAdminBundle::form.html.twig' %}

{% block main %}
<h2>{% trans with { '%name%': term.name } %}admin.user.display.register{% endtrans %}</h2>
<form class="wide" action="{{ path('admin_user_register', { 'user': user.id, 'term': term.id } ) }}" method="post" {{ form_enctype(form) }}>
  {% include formpart with { 'form': form } %}
  <fieldset>
    <legend>{% trans %}admin.user.legend.terms{% endtrans %}</legend>
    {{ form_row(form.terms) }}
    <div class="formrow row_required">
      <p class="inputholder">
      <input type="submit" value="{% trans %}admin.user.actions.save{% endtrans %}" class="button" />
      </p>
    </div>
  </fieldset>
  {{ form_rest(form) }}
</form>
{% endblock %}
